<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/form_styles.css" />
    <title>Pernix - Apprenticeship - Blog: Plain Ruby</title>
  </head>
  <body>
    <header>
    <h1><a href="/"> Blog </a></h1>
    </header>
    <div id="content_wrapper">
      <div id="main_content">
        <div id="main_wrapper">
          <div id="form_wrapper">
            <form method="POST" action="/action">
              <input type="hidden" name="id" value="<%= @form.id %>"/>
              <h2><%= @form.post_title %></h2> 
              <div id="form_options">
                <input type="submit" name="action" value="Cancel"/>
                <input type="submit" name="action" value="Delete"/>
                <input type="submit" name="action" value="Save"/>
              </div> <!--#form_options -->
              <div id="form_name">
                <h5> Name: </h5>
                <input id="name" type="text" name="title" value="<%= @form.name %>"/>
              </div> <!--#form_name -->
              <div id="form_content">
                <textarea id="content" name="body"><%= @form.content %></textarea>
              </div> <!--#form_content -->
            </form>
          </div> <!--#form_wrapper -->
        </div> <!--#main_wrapper -->
      </div> <!--#main_content -->
    </div> <!--#content_wrapper -->
  </body>
</html>
